:root{
    --white-text:#FFFFFF;
    --button:#26C7EA;
    --hover-color:#94CFFF;
    --dark-text:#0A3853;
    --butt-back-color:#0B0E66;
    --decorative-black:#141414;
}
ul{
    list-style-type:none;
    padding-inline-start: 0;
    margin-inline-start: 0;
}
a{
    text-decoration: none;
}
p{
    margin-top: 0px;
}
body{
    box-sizing: border-box;
}
.container{
    width: 1032px;
    margin: 0 auto;
}
.top-overlay > .container{
    display: flex;
    padding: 54px 0px 36px ;
    align-items: center;
    justify-content: space-between; 
}
.top-overlay{
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(43,74,97, 0.87),rgba(43,74,97, 0.87)),
     url(./img/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 55%;
    width: 100%;
    border-bottom: 3px solid var(--white-text);
}
.navigation{
    display: flex;
    gap: 30px;
}
.navigation-el{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    color: var(--white-text);
}
.navigation-el:hover{
    font-weight: 600;
    color: var(--hover-color);
    cursor: pointer;
}
.decor-butt{
    font-family:'Headland One';
    font-size: 24px;
    font-weight: 400;
    color: var(--button);
    background-color: var(--butt-back-color);
    width: 260px;
    height: 80px;
    border-radius: 35px 0px 35px 0px ;
    border: 3px solid var(--button);
    cursor: pointer;
}
header .decor-butt:nth-child(1){
    font-size: 20px;
    width: 141px;
    height: 41px;
    padding-top:7px;
}
.toggle-button{
    position: absolute;
    right: 50px;
}
#switcher{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin: 11px 10px;
    vertical-align: middle;
    background-color:transparent;
    border: 1px solid var(--white-text);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#switcher::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: var(--white-text);
    border-radius: 50%;
  
    transform: translateX(0);
}
#switcher:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: var(--white-text);  
  }
#switcher:checked {
    background-color: transparent;
  }
.lang{
    font-family: 'Hammersmith One';
    font-size: 16px;
    font-weight: 400;
    color: var(--white-text);
}
.top-info{
    background-image: url(./img/head-big-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 740px;
    padding-top: 180px;
    padding-bottom: 177px;
}
.top-info > .container{
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.entry > .decor-butt{
    margin-top: 43px;
}
.entry > p{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--white-text);
    margin: 0px;
    line-height: 25px;
}
.entry > p:first-child{
     width: 270px;
}
.entry > p:nth-child(2){
    width: 300px;
}
.entry > p:nth-child(1)::after{
    display: block;
    content: '';
    width: 152px;
    height: 40px;
    margin-left: 50px;
    background-image: url(./img/white-arrow.svg);
}
.network-el{
    display: block;
    content: '';
    width: 50px;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.network-el:first-child{
    background-image: url(./img/inst.svg);
    margin-left: 20px;
    margin-bottom: 23px;
}
.network-el:nth-child(2){
    background-image: url(./img/twitter.svg);
    margin-left: 20px;
    margin-bottom: 23px;
}
.network-el:nth-child(3){
    background-image: url(./img/youtube.svg);
}
.phrases > h1{
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 400;
    color: var(--dark-text);
    text-align: center; 
    margin-top: 80px;
}
.phrases > p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.phrases > p::after{
    display: block;
    content: '';
    width: 400px;
    height: 120px;
    background-image: url(./img/decor-bird.svg);
    margin: 0 auto;
    margin-top: 5px;
}
.trailer{
    height: 741px;
    width: 100%;
    background-image: url(./img/second-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    
}
.trailer > .decor-butt{
    display: block;
    margin: 0 auto;
}
.language-section{
    width: 100%;
    height: 704px;
    background-image: linear-gradient(rgba(196, 196, 196, 0.66),rgba(196, 196, 196, 0.66)),
    url(./img/third-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}
.language-section h2{
    font-family: 'Headland One';
    font-size: 32px;
    font-weight: 400;
    color: var(--decorative-black);
    text-align: center;
    margin-bottom: 45px;
}
.lang-card{
    font-family: 'Headland One';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.lang-card-el{
    width: calc((100% - 48px) /3);
    height: 240px;
    
    padding-top: 35px;
    background-color: rgba(255, 255, 255, 70%);
}
.first-lang-p{
    color: var(--decorative-black);
}
.first-lang-p::after{ 
    display: block;
    content: '';
    width: 152px;
    height: 40px;
    margin: 40px 84px;
}
.lang-card-el:nth-child(3n+1) > .first-lang-p::after{
    background-image: url(./img/first-arrow.svg);
}
.lang-card-el:nth-child(3n+3) > .first-lang-p::after {
    background-image: url(./img/second-arrow.svg);
}
.lang-card-el:nth-child(3n+2) > .first-lang-p::after {
    background-image: url(./img/small-decor-bird.svg);
    
}
.bottom{
    height: 223px;
    width: 100%;
    background-image:linear-gradient(rgba(43, 74, 97, 87%), rgba(43, 74, 97, 87%)),
     url(./img/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-position: 50% 52%;
    padding: 35px 0px ;
}
.bottom > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address-em-it{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 24px;
    margin-bottom: 25px;
}
.address-em-it:first-child{
    margin-top: 45px;
}
.address-em , .address-em a{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--white-text);
}
.address p:last-child{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: var(--white-text);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}
.line{
    height: 153px;
    border-right: 2px solid var(--white-text);
}
.decor-pointer{
    padding: 6px 22px;
}